.VendingMachine {
    text-align: center;
    width: fit-content;
    height: 800px;
    background-size: cover;
    display: center;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  
  .VendingMachine .Message {
    width: 30%;
    margin: 0 auto;
    text-align: center;
    display: flex
  }
  
  a {
    color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    left: 400px;
    top: 300px;
  }
  
  a:hover {
    text-decoration: underline;
  }
  